<BasicDropdown
  @verticalPosition={{or @verticalPosition "auto"}}
  @horizontalPosition={{or @horizontalPosition "auto"}}
  @renderInPlace={{@renderInPlace}}
  @matchTriggerWidth={{@matchTriggerWidth}}
  @triggerComponent={{@triggerComponent}}
  @contentComponent={{@contentComponent}}
  @calculatePosition={{@calculatePosition}}
  @onOpen={{@onOpen}}
  @onClose={{@onClose}}
  @onFocus={{@onFocus}}
  @calculateInPlacePosition={{@calculateInPlacePosition}}
  @disabled={{@disabled}}
  as |dd|
>
  <span
    {{on "mousedown" (action "prevent" dd)}}
    {{on "mouseenter" (action "open" dd)}}
    {{on "mouseleave" (action "close" dd)}}
  >
    {{yield (hash Trigger=(component dd.Trigger))}}
  </span>
  <div
    {{on "mouseenter" (action "open" dd)}}
    {{on "mouseleave" (action "close" dd)}}
  >
    {{yield (hash Content=(component dd.Content))}}
  </div>
</BasicDropdown>