<div data-test-type={{this.dataTestType}} class="ember-power-daterange-picker" ...attributes>
  <BasicDropdown as | Dropdown |>
    <Dropdown.Trigger>
        <div class="input">
          {{#if value.start}}
            {{moment-format value.start dateDisplayFormat}}
          {{/if}}
          {{#if value.end}}
            &nbsp;&nbsp;-&nbsp;&nbsp; {{moment-format value.end dateDisplayFormat}}
          {{/if}}
        </div>
        <div class="{{triggerClasses}}"><SvgRepo::Icons::IconCalendar /></div>
      {{!-- <button class="{{triggerClasses}}" type="button">
        {{#if noDatesSelected}}
          Select
        {{else}}
          Update
        {{/if}}
      </button> --}}
    </Dropdown.Trigger>
    <Dropdown.Content>
      <div class={{calendarContainerClasses}}>
        <PowerCalendarRange @center={{center}} @selected={{value}} @minDate={{minDate}} @maxDate={{maxDate}} @startTime={{startTime}} @endTime={{endTime}} @onCenterChange={{action (mut center) value="date"}} @onSelect={{action "rangeSelected" value="date"}} as |calendar|>
          <nav class="ember-power-calendar-nav">
            <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -12 'month'}}>«</button>
            <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -1 'month'}}>‹</button>
            <div class="ember-power-calendar-nav-title">
              {{moment-format calendar.center 'MMMM YYYY'}}
            </div>
            <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 1 'month'}}>›</button>
            <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 12 'month'}}>»</button>
          </nav>
          <calendar.days @minDate={{minDate}} @maxDate={{maxDate}} />
        </PowerCalendarRange>
      </div>
    </Dropdown.Content>
  </BasicDropdown>
</div>