<div
  class="accordion-item
    {{this.emberSundries.accordionItemDefaultClasses}}
    {{this.openDefaultClasses}}
    {{this.closedDefaultClasses}}
    {{if this.open 'open'}}"
  data-test-type="accordion-item"
  {{did-insert this.didInsert}}
  ...attributes
>
  <div
    class={{concat
      "accordion-item-header"
      " "
      @accordionHeaderClass
      " "
      this.emberSundries.accordionItemHeaderDefaultClasses
    }}
    {{on "click" this.toggle}}
    data-test-class="accordion-header"
  >
    {{#if @accordionHeaderComponent}}
      {{component
        @accordionHeaderComponent
        accordionHeaderProps=@accordionHeaderProps
      }}
    {{else}}
      {{this.parsedTitle}}
    {{/if}}
    {{#let (component this.expandCollapseIcon) as |ExpandCollapseIcon|}}
      <ExpandCollapseIcon class="accordion-expand-collapse-icon" />
    {{/let}}
  </div>
  {{#if (or @toggleWithCss this.open)}}
    <div class="accordion-item-content" data-test-class="accordion-content">
      <div class="accordion-item-content-inner">
        {{yield}}
      </div>
    </div>
  {{/if}}
</div>