<EmberSundries::ModalDialogWrapper
  @activeModal={{this.activeModal}}
  @title="Delete tag"
>
  {{#if @message}}<div
      class="alert-text body-text margin-bottom-xl"
    >{{@message}}</div>{{/if}}
  {{yield}}
  <div class="option-buttons flex flex-justify-end">
    <button
      class="cancel btn btn-outline-gray-medium margin-right-lg"
      data-test-class="modal-cancel-button"
      onclick={{this.closeModal}}
    >Cancel</button>
    <button
      class="confirm btn btn-{{@colorScheme}}"
      {{on "click" (fn @confirmAction @modalName)}}
      data-test-class="modal-confirm-buton"
    >Confirm</button>
  </div>
</EmberSundries::ModalDialogWrapper>