<div
  data-test-class={{this.dataTestClass}}
  data-test-name={{this.dataTestName}}
  class="confirm-cancel-container {{@containerClasses}} {{@colorScheme}} "
  data-test-id={{@dataTestId}}
  {{did-insert this.didInsert}}
  ...attributes
>
  <BasicDropdown
    @renderInPlace={{this.renderInPlace}}
    @onOpen={{@onOpen}}
    @onClose={{@onClose}}
    @horizontalPosition={{@align}}
    as |Dropdown|
  >
    <Dropdown.Trigger>
      <button
        type="button"
        class="btn btn-{{@colorScheme}}
          {{if Dropdown.isOpen 'active'}}
          {{if @requestInFlight 'request-in-flight'}}
          {{@mainButtonClasses}}"
        data-test-class="trigger"
      >{{component @mainButtonIcon}}{{@mainButtonText}}
        <SvgRepo::Icons::IconCog
          class={{concat (if @requestInFlight "on") " spinner button-right"}}
        />
      </button>
    </Dropdown.Trigger>
    <Dropdown.Content
      class="{{if @positionStatic 'position-static'}} align-{{@align}}"
    >
      <div
        class="{{@popoutBoxClasses}}
          {{'pop-up-box box-arrow body-text confirm-cancel-content'}}
          border-{{@colorScheme}}"
        data-test-id="{{@dataTestId}}-confirm-cancel-content"
      >
        {{#if @message}}<p class="alert-text">{{@message}}</p>{{/if}}
        {{yield}}
        <div class="option-buttons">
          <button
            class="confirm btn btn-{{@colorScheme}}"
            {{on "click" (fn this.confirm Dropdown)}}
            data-test-class="confirm-button"
          >Confirm</button>
          <button
            class="cancel btn btn-outline-gray-medium"
            {{on "click" (fn this.closePopoutBox Dropdown)}}
            data-test-class="cancel"
          >Cancel</button>
        </div>
      </div>
    </Dropdown.Content>
  </BasicDropdown>
</div>