<div
  ondragleave={{fn (action "onDragLeave")}}
  ondragover={{fn (action "onDragOver")}}
  ondrop={{fn (action "onDrop")}}
  data-test-class={{this.dataTestClass}}
  class="draggable-dropzone {{this.dragClass}} {{if this.disabled 'disabled'}}"
  ...attributes
>
  <span class="{{@fileDropTextPromptClass}}">{{@fileDropTextPrompt}}</span>
</div>