<div
  ondragleave={{this.onDragLeave}}
  ondragover={{this.onDragOver}}
  ondrop={{this.onDrop}}
  data-test-class={{this.dataTestClass}}
  class="draggable-dropzone {{this.dragClass}} {{if @disabled 'disabled'}}"
  ...attributes
>
  <span class="{{@fileDropTextPromptClass}}">{{@fileDropTextPrompt}}</span>
</div>