{{#if @hover}}
  <BasicDropdown @renderInPlace={{@renderInPlace}} as |Dropdown|>
    <Dropdown.Trigger
      class="info-popout-trigger"
      data-test-class="info-popout-trigger"
      onMouseDown={{this.prevent}}
      onMouseEnter={{fn this.open Dropdown}}
      onMouseLeave={{fn this.closeLater Dropdown}}
    >
      {{#if @triggerComponent}}
        {{#let (component @triggerComponent) as |TriggerComponent|}}
          <TriggerComponent
            class={{concat @triggerClass (if Dropdown.isOpen " active")}}
          />
        {{/let}}
      {{else if @triggerText}}
        <div class={{concat @triggerClass (if Dropdown.isOpen " active")}}>
          {{@triggerText}}
        </div>
      {{else}}
        <button
          class="btn-content {{@triggerClass}} {{if Dropdown.isOpen 'active'}}"
          data-test-class="trigger"
        >
          <SvgRepo::Icons::IconInfo />
        </button>
      {{/if}}

    </Dropdown.Trigger>
    <Dropdown.Content
      class="info-popout-content {{if @positionStatic 'position-static'}}"
      data-test-class="info-popout-content"
      onMouseEnter={{fn this.open Dropdown}}
      onMouseLeave={{fn this.closeLater Dropdown}}
    >
      <div
        class="{{@popoutBoxClass}} pop-up-box box-arrow body-text border"
        style={{@popoutBoxStyle}}
      >
        {{yield}}
      </div>
    </Dropdown.Content>
  </BasicDropdown>
{{else}}
  <BasicDropdown @renderInPlace={{@renderInPlace}} as |Dropdown|>
    <Dropdown.Trigger
      class="info-popout-trigger"
      data-test-class="info-popout-trigger"
    >
      {{#if @triggerComponent}}
        {{#let (component @triggerComponent) as |TriggerComponent|}}
          <TriggerComponent
            class={{concat @triggerClass (if Dropdown.isOpen " active")}}
          />
        {{/let}}
      {{else}}
        <button
          class="btn-content {{@triggerClass}} {{if Dropdown.isOpen 'active'}}"
          data-test-class="trigger"
        >
          <SvgRepo::Icons::IconInfo />
        </button>
      {{/if}}
    </Dropdown.Trigger>
    <Dropdown.Content
      class="info-popout-content {{if @positionStatic 'position-static'}}"
      data-test-class="info-popout-content"
    >
      <div
        class="{{@popoutBoxClass}} pop-up-box box-arrow body-text border"
        style={{@popoutBoxStyle}}
      >
        {{yield}}
      </div>
    </Dropdown.Content>
  </BasicDropdown>
{{/if}}