<div class="labelled-checkbox {{if this.disabled 'disabled'}}" ...attributes>
  {{#if this.hasLabel}}
    <label
      id="{{this.commonId}}-label"
      for="{{this.commonId}}-input"
      class={{@labelClass}}
    >
      {{#if @labelComponent}}{{component
          @labelComponent
          labelComponentProps=@labelComponentProps
        }}{{else if @label}}{{@label}}{{/if}}
    </label>
  {{/if}}
  <input
    type="checkbox"
    checked={{readonly @value}}
    {{on "click" this.checkboxClicked}}
    disabled={{@disabled}}
    id="{{this.commonId}}-input"
    name={{@name}}
    aria-labelledby={{if this.hasLabel (concat this.commonId "-label")}}
  />
</div>