<div
  class="select-all-checkbox
    {{this.collectionState}}
    {{if this.disabled 'disabled'}}"
  data-test-class="select-all-checkbox"
  ...attributes
>
  {{#if @relatedCollection}}
    <EmberSundries::LabelledCheckbox
      @changedAction={{this.selectAllClicked}}
      @value={{readonly (not-eq this.collectionState "none-selected")}}
      @label={{@label}}
    />
  {{/if}}
</div>