{{#if this.contentWidth}}
  <SimpleBar
    {{style this.style}}
    class={{@wrapperClass}}
    @autoHide={{@autoHide}}
    as |sb|
  >
    {{yield}}
  </SimpleBar>
{{else}}
  <div
    class="dummy {{@wrapperClass}}"
    {{did-insert this.onInsert}}
    style="overflow-y: hidden"
  >
    {{yield}}
  </div>
{{/if}}