{{#if this.contentWidth}}
  <SimpleBar style={{this.style}} class={{@class}} as |sb|>
    {{yield (hash Content=(component "blank-template"))}}
  </SimpleBar>
{{else}}
  <div class="dummy {{@class}}" {{did-insert this.onInsert}}>
    {{yield (hash Content=(component "blank-template"))}}
  </div>
{{/if}}
