<div class={{concat "accordion-item-header" " " accordionHeaderClass " " emberExtendedElements.accordionItemHeaderDefaultClasses}} {{action 'toggleAccordion'}} data-test-class="accordion-header">
  <h4>{{title}}</h4>
  {{component accordionHeaderComponent accordionHeaderProps=accordionHeaderProps}}
  {{component expandCollapseIcon}}
</div>

<div class="accordion-item-content">
  <div class="accordion-item-content-inner">
    {{yield}}
  </div>
</div>
