<div class="{{'pop-up-box-inner'}} {{customClasses}} {{if boxArrow 'box-arrow'}} {{boxArrowDirection}} {{colorScheme}}">
	{{yield}}
	<div class="close-button" {{action 'closePopoutBox'}} value="Close">{{svg-repo/icons/icon-cross}}</div>
</div>