<BasicDropdown @renderInPlace={{renderInPlace}} @onOpen={{onOpen}} @onClose={{onClose}} as | Dropdown |>
  <Dropdown.Trigger class="info-popout-trigger" @onMouseDown={{action "prevent"}} @onMouseEnter={{action "open"}} @onMouseLeave={{action "closeLater"}}>
    <button class="btn-content {{if dropdown.isOpen 'active'}}" data-test-class="trigger">
       <SvgRepo::Icons::IconInfo />
    </button>
  </Dropdown.Trigger>
  <Dropdown.Content class={{if positionStatic "position-static"}} @onMouseEnter={{action "open"}} @onMouseLeave={{action "closeLater"}}>
    <div class="{{popoutBoxClass}} pop-up-box box-arrow body-text border">
      {{yield}}
		</div>
  </Dropdown.Content>
</BasicDropdown>