<button class="btn {{buttonClass}}" {{action buttonAction}} data-test-id={{data-test-id}}>{{buttonText}}{{svg-repo/icons/icon-cog class=(concat "spinner button-right" " " (if loading "on"))}}</button>